*,
*::after,
*::before{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  color: #1f1e1e;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  background-color: #040f0f;
}

#root{
  width: 75vw;
  margin: 0 auto;
}

#editor,
#preview{
  width: 100%;
  overflow: scroll;
  height: calc(100% - 3rem);
  background-color: #f3eff5;
  padding: .5rem;
}

#editor{
  font-family: 'Roboto Mono', monospace;
  outline: none;
  border: none;
}

#preview{
  overflow: scroll;
  h1{
    line-height: 120%;
  }
  img{
    max-width: 100%;
  }
  pre,
  code{
    background-color: #2d3a3a;
    color: #f3eff5;
    padding: .25rem;
    border-radius: .5rem;
    overflow: scroll;
  }
  table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
  }
  th, td{
    padding: .4rem;
  }
  tr:nth-child(even){
    background-color: #E7E9EB;
  }
  blockquote{
    border-left: .2rem solid #040f0f;
    margin-left: 1rem;
    margin-right: 0;
    padding: .25rem .5rem;
    background-color: #E7E9EB;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  align-items: center;
  padding: 0 1rem;
  background-color: #2d3a3a;
  color: #16db65;
  height: 3rem;
  border-bottom: .1rem solid #16db65;
}

.fa-free-code-camp{
  margin-right: .5rem;
}

.regular,
.fullScreen {
  margin-top: 2rem;
  overflow: hidden;
  border-radius: .5rem;
}

.regular{
  height: calc(58vh - 7rem);
}

.fullScreen{
  height: calc(100vh - 6rem);
}

.hide{
  display: none !important;
}
